<div id="main">
    <div id="errormain">
        <h1 id="errorheader">Ωχ, κάτι πήγε στραβά...</h1>
        <h3 id="errorsub">Κωδικός {{code}}: {{message}}</h3>
        <img src="images/misc/errorbot.png" id="errorbot">
    </div>
</div>