<div id="main">
    <rel="stylesheet" href="css/error.css">
    <h1 style="margin: 0px">Ωχ, κάτι πήγε στραβά...</h1>
    <h3 style="margin: 0px">{{code}}: {{message}}</h3>
    <img src="images/misc/errorbot.png">
</div>