<div id="login_box">
    <h2>Έλεγχος εισόδου</h2>
    <form id="login_form">
        <div id="user_select">
            <label for="user_select">Εισέρχεστε ως:</label>
            <select id="user_type" name="user_level">
                <option selected="selected" value="level_1">Επισκέπτης</option>
                <option value="level_2">Υπάλληλος</option>
                <option value="level_3">Διαχειριστής</option>
            </select>
        </div>
        <div id="login_field">
            <label for="login_input">Login:</label>
            <input type="text" id="login_input" name="login_input">
        </div>
        <div hidden="true" id="password_field">
            <label for="password_input">Κωδικός:</label>
            <input type="password" id="password_input" name="password_input">
        </div>
        <button type="submit" id="submit_button">Συνέχεια</button>
    </form>
</div>
<div id="main">
	<img src="images/building exterior.png" id="building">
</div>
<script src="login.js" defer></script>
