<div id="terms">
    <h1>Όροι και Προϋποθέσεις</h1>

    <h2>1. Σκοπός και περιεχόμενο χρήσης της πλατφόρμας</h2>
    <ul>
        <li>Η πλατφόρμα έχει δημιουργηθεί με σκοπό την υποβολή και αναφορά τεχνικών προβλημάτων που αφορούν το εμπορικό κέντρο.</li>
        <li>Η πλατφόρμα έχει ως αποκλειστικό στόχο την διευκόλυνση των επισκεπών στην υποβολή τεχνικών προβλημάτων και την καλύτερη οργάνωση αυτών. Τα περιεχόμενα της πλατφόρμας και τα υποβληθέντα προβλήματα δεν φέρουν καμία νομική ισχύ.</li>
        <li>Ο χρήστης θα πρέπει να υποβάλει τεχνικά προβλήματα που αφορούν μόνο το ίδιο το εμπορικό κέντρο.</li>
        <li>Σε περίπτωση ύπαρξης άλλου ζητήματος (όπως για παράδειγμα με μέλος του προσωπικού κάποιου καταστήματος ή του ίδιου του εμπορικού κέντρου), ο χρήστης θα πρέπει να αναφρθεί στις αρμόδιες υπηρεσίες.</li>
        <li>Ο χρήστης οφείλει να παρέχει ακριβείς πληροφορίες σχετικά με το πρόβλημα που αντιμετωπίζει.</li>
    </ul>

    <h2>2. Σύνδεση χρήστη</h2>
    <ul>
        <li>Ο κάθε χρήστης απαιτείται να συνδεθεί στην πλατφόρμα προκειμένου να υποβάλλει ένα τεχνικό πρόβλημα του εμπορικού κέντρου.</li>
        <li>Η σύνδεση αποτελείται από την εισαγωγή του ονοματεπώνυμου του χρήστη με ελληνικούς ή λατινικούς χαρακτήρες.</li>
        <li>Ο χρήστης πρέπει να παρέχει ακριβείς και έγκυρες πληροφορίες κατά την περιήγησή του στην πλατφόρμα.</li>
    </ul>

    <h2>3. Αποποίηση ευθυνών</h2>
    <h3>3α. Ευθύνες και υποχρεώσεις της εταιρίας και των χρηστών</h3>
    <ul>
        <li>
            Η επιχείρηση δεν φέρει ευθύνη για οποιεσδήποτε απώλειες ή ζημίες προκληθούν από τη χρήση της πλατφόρμας.<br />
            O χρήστης φέρει την αποκλειστική ευθύνη για οτιδήποτε δηλώσει μέσω της πλατφόρμας.
        </li>
        <li>Η επιχείρηση δεσμεύεται να διευρευνήσει κάθε πρόβλημα που υποβάλλεται μέσω της πλατφόρμας.</li>
        <li>Η επιχείρηση δεν υποχρεούται να προβεί σε καμία ενέργεια σε περίπτωση μη ολοκληρωμένης, ανεπαρκούς ή ασαφούς υποβολής.</li>
        <li>
            (i)Η επιχείρηση δεν υποχρεούται να καταβάλει καμία αποζημίωση ή επιβράβευση για τον υποβολέα.<br />
            (ii)Σε περίπτωση που ένα ή περισσότερα άτομα ζημιώθηκαν εξ'αιτίας βλάβης του εμπορικού κέντρου, αυτά θα αποζημιώνονται όπως ορίζεται από την εκάστοτε πολιτική του εμπορικού κέντρου.
        </li>
        <li>Όπως προαναφέρθηκε στην παράγραφο 1, τα περιεχόμενα της πλατφόρμας και οτιδήποτε υποβάλεται μέσω αυτής δεν έχει νομική ισχύ και δεν μπορεί να χρησιμοποιηθεί δικαστικά.</li>
    </ul>

    <h3>3β. Ανανέωση όρων χρήσης</h3>
    <ul>
        <li>Η επιχείρηση διατηρεί το δικαίωμα να τροποποιήσει τους παρόντες όρους και προϋποθέσεις μερικώς ή ολικώς, χωρίς προηγούμενη ειδοποίηση.</li>
        <li>Τυχόν αλλαγές που θα πραγματοποιηθούν μελλοντικά δεν επηρεάζουν τα ήδη υποβληθέντα προβλήματα από τους χρήστες.</li>
    </ul>

    <h2>4. Πολιτική Απορρήτου</h2>
    <h3>α. Προσωπικά δεδομένα του χρήστη</h3>
    <ul>
        <li>
            Η εταιρία δεσμεύεται να προστατεύει τα προσωπικά δεδομένα των χρηστών, σύμφωνα με την ισχύουσα νομοθεσία και τον νόμο προστασίας προωσοπικών δεδομένων της Ευρωπαικής Ένωσης
            <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A02016R0679-20160504">(GDPR)</a>.
        </li>
        <li>Οι προσωπικές πληροφορίες των χρηστών δεν θα κοινοποιηθούν σε τρίτους, για κανέναν λόγο, εκτός αν απαιτείται από τον νόμο ή ζητηθεί από δικατική αρχή.</li>
        <li>Το ονοματεπώνυμο του χρήστη κρατείται αποκλειστικά για χρήση στην βάση δεδομένων της εταιρίας.</li>
    </ul>
    <h3>β. Χρήση cookies</h3>
    <ul>
        <li>Η πλατφόρμα χρησιμοποιεί λειτουργικά cookies.</li>
        <li>Τα χρησιμοποιούμενα cookies είναι απαραίτητα για την απρόσκοπτη περιήγηση στην ιστοσελίδα, δεν αποθηκεύονται και δεν διανέμονται σε τρίτους για κανέναν λόγο.</li>
    </ul>
</div>