<div id="holder">
    <div id="DB_display">
        <div id="DBheader" class="DBheader">
            <div class="DBHcell">
                <!-- <input type="checkbox"></input> -->
                
            </div>
            <div class="DBHcell">
                Tοποθεσία
            </div>
            <div class="DBHcell">
                Υποβολέας
            </div>
            <div class="DBHcell">
                Γενική κατηγορία
            </div>
            <div class="DBHcell">
                Ειδική κατηγορία

            </div>
            <div class="DBHcell">
                Σχόλια

            </div>
            <div class="DBHcell">
                Ημερομηνία

            </div>
        </div>
    </div>
    <div id="button_holder">
        <button id="delbutton">Διαγραφή επιλεγμένων</button>
    </div>
</div>
<script src="scripts/db.js" defer></script>
{{!-- <script>getlist({{JSON.stringify(mylist)}});</script> --}}